@import url("/top10nation-demo/src/static/css/swiper.css");
@import url("/src/static/css/media.css");
#custom-background-css {
  width: 100%;
  height: 100%;
}

.wrapper {
  overflow: hidden;
}

.header-wp {
  background-color: var(--header-wrapper-bg);
}
.header-wp .header-main .inner {
  display: flex;
  padding: 30px 0;
  height: auto;
  align-items: center;
  text-align: center;
}
.header-wp .navbar-wp {
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: var(--navbar-border-color);
  box-shadow: var(--bxsh);
}
.header-wp .navbar-wp .navbar-nav > li > a {
  display: block;
  padding: 8px 15px;
  color: var(--text-color);
  font-family: var(--title-font);
  font-weight: 600;
  font-size: var(--font-size-small);
  letter-spacing: 0.5px;
}
.header-wp .navbar-wp .navbar > .active > a {
  background: none;
}

.navbar-toggler {
  font-size: 20px;
  line-height: 1;
  background-color: unset !important;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}
.navbar-toggler.x {
  border: none;
}
.navbar-toggler.x .icon-bar + .icon-bar {
  margin-top: 4px;
}
.navbar-toggler.x .icon-bar {
  width: 22px;
  height: 2px;
  display: block;
  background-color: var(--navbar-icon-bar-color);
  transition: all 0.2s;
}
.navbar-toggler.x .icon-bar:nth-of-type(1) {
  transform: rotate(0);
}
.navbar-toggler.x .icon-bar:nth-of-type(2) {
  opacity: 1;
}
.navbar-toggler.x .icon-bar:nth-of-type(3) {
  transform: rotate(0);
}
.navbar-toggler.x[aria-expanded=true] .icon-bar:nth-of-type(1) {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler.x[aria-expanded=true] .icon-bar:nth-of-type(2) {
  opacity: 0;
}
.navbar-toggler.x[aria-expanded=true] .icon-bar:nth-of-type(3) {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

button:not(:disabled), [type=button]:not(:disabled),
[type=reset]:not(:disabled), [type=submit]:not(:disabled) {
  cursor: pointer;
}

.site-title {
  font-family: var(--title-font);
  line-height: 1.2;
}

.site-branding-text .site-title {
  color: var(--text-color) !important;
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 0;
  transition: color 0.3s ease;
}
.site-branding-text .site-title a {
  color: inherit !important;
}
.site-branding-text .site-description {
  transition: color 0.3s ease;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--bs-gutter-x, 0.75rem);
  padding-right: var(--bs-gutter-x, 0.75rem);
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar > .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.right-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  line-height: 1;
  position: relative;
  margin-right: 0.5rem;
  color: var(--social-icon-color);
  background: var(--social-bg);
  box-shadow: var(--bxsh);
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}

.sc {
  display: flex;
  flex-wrap: wrap;
}
.sc li {
  display: inline-flex;
  margin-bottom: 5px;
  border-bottom: none;
}
.sc li a {
  margin: 2px 2.5px;
  color: var(--social-icon-color);
}
.sc li a .sc-btn {
  font-family: "Font Awesome 5 Brands", sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--social-bg);
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.sc li a .sc-btn::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: all 0.8s;
}

.info-right > a, .sc > li > a, .navbar-nav > li > a,
.menu-item.active > a, #theme-switch, .search {
  transition: all 0.3s ease !important;
}
.info-right > a:hover, .sc > li > a:hover, .navbar-nav > li > a:hover,
.menu-item.active > a:hover, #theme-switch:hover, .search:hover {
  filter: brightness(0.5);
}

.menu-item.active > a:hover {
  background: rgba(0, 0, 0, 0.1);
}