:root {
  --swiper-navigation-size: 44px;
}

[role=button] {
  padding: 15px;
  cursor: pointer;
}

.mainfeatured .list-blog .blog-thumb {
  width: 50.333333%;
  max-width: 50.333333%;
  min-width: 50.333333%;
  height: 400px;
  min-height: 250px;
  margin-right: 25px;
}

.swiper-title-wp {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 15px;
  background-color: var(--blog-box-color);
}
.swiper-title-wp .swiper-title {
  position: relative;
  font-weight: 900;
  font-family: var(--title-font);
  padding-top: 5px;
  padding-bottom: 2.5px;
  line-height: 1;
  font-size: 28px;
  text-align: justify;
  color: var(--text-color) !important;
}
.swiper-title-wp .swiper-title::before {
  content: "";
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 3px;
  position: absolute;
  transition: bottom 0.3s ease;
}
.swiper-title-wp .swiper-title:hover::before {
  bottom: -1px;
}

.swiper-button-prev::after {
  content: "\f053";
}

.swiper-button-next::after {
  content: "\f054";
}

.bs .swiper-button-prev::after,
.bs .swiper-button-next::after {
  font-family: var(--font-awesome-plain);
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 0;
  text-transform: none !important;
  font-variant: initial;
  line-height: 1;
}
.bs .swiper-button-next {
  right: 10px;
  left: auto;
}
.bs .swiper-button-next:hover {
  filter: brightness(0.7);
}
.bs .swiper-button-prev {
  left: 10px;
  right: auto;
}
.bs .swiper-button-prev:hover {
  filter: brightness(0.7);
}
.bs .swiper-button-next,
.bs .swiper-button-prev {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  opacity: 1;
  border-radius: 50%;
  color: var(--swiper-font-color);
  background: var(--swiper-arrow-bg);
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  top: 50%;
  z-index: 10;
  transition: all 0.3s ease;
}
.bs:hover .swiper-button-next {
  right: 2%;
  opacity: 1;
}
.bs:hover .swiper-button-prev {
  left: 2%;
  opacity: 1;
}

.swiper-container-pointer-events {
  touch-action: pan-y;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.blog-post {
  margin-bottom: 30px;
  box-shadow: var(--bxsh);
  overflow: hidden;
  border-radius: 0;
  transition: box-shadow 0.5s ease;
}
.blog-post .title {
  margin-bottom: 20px;
}
.blog-post a:not(.categories), .blog-post h4 {
  transition: color 0.5s ease;
}
.blog-post a:not(.categories):hover, .blog-post h4:hover {
  color: var(--blog-title-hover);
}
.blog-post p:nth-of-type(1)::first-letter {
  display: none;
}
.blog-post:hover {
  box-shadow: var(--bxshover);
}

.list-blog.blog-post {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 45px;
}
.list-blog.blog-post .small {
  font-size: 17px;
  margin-top: auto;
  margin-bottom: auto;
}

.list-blog .blog-category {
  justify-content: flex-start;
}

.blog-meta {
  margin-bottom: 20px;
}
.blog-meta span {
  padding-right: 8px;
  font-size: 14px;
  font-weight: 500;
}
.blog-meta .blog-author .auth img {
  display: unset;
  width: 25px;
  height: 25px;
  margin-left: 1px;
  margin-right: 8px;
  border-radius: 50%;
  vertical-align: middle;
  box-shadow: 0 2px 8px 1px rgba(33, 33, 33, 0.3);
}

.blog-category {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -4px;
  margin-right: -4px;
  margin-bottom: 15px;
}
.blog-category a {
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 1;
  font-weight: 600;
  border-radius: 0;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 1px;
  margin-bottom: 1px;
  cursor: pointer;
  transition: filter 0.3s ease;
}
.blog-category a:nth-last-child(1) {
  margin-right: 0px;
}
.blog-category a:hover {
  filter: brightness(0.8);
}

.blog-date::before {
  content: "\f017";
}

.comments-link::before {
  content: "\f086";
}

.blog-date::before, .comments-link::before,
.cat-links::before, .tag-links::before {
  display: inline-block;
  padding-left: 1px;
  padding-right: 2px;
  font-family: var(--font-awesome-plain);
  font-weight: 900;
  text-decoration: inherit;
  vertical-align: baseline;
  position: relative;
  opacity: 0.8;
}

.back-img {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  border: solid 5px var(--blog-img-border-color);
}

.blog-thumb {
  position: relative;
  min-height: 20px;
  overflow: hidden;
  max-width: 100%;
  border-radius: 0;
}

.link-div {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 767.98px) {
  .list-blog .blog-thumb {
    width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 15px;
  }
  .list-blog.blog-post {
    flex-direction: column;
  }
}